.about-container {
    width: 95vw;
    max-width: 960px;
    padding: 150px 0;
    margin: 0 auto;
    display: flex;
    .about-grid {
        display: grid;
        grid-template-rows: 1f 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
                        //1    2   3   4   5   6   7    8
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
                            //1     2   3   4   5     6
        grid-row-gap: 0px;
        .about-image {
            z-index: -1000;
            grid-row: 3 / 9;
            grid-column: 1/6;
        }

        .about-title { 
            height: 100%;
            text-align: center;
            grid-row: 1/2;
            z-index: 2;
            grid-column: 2/5;
            margin-bottom: 0.5em;
            font-size: 3em;
            letter-spacing: 0.05em;
            #about-header {
                font-size: 0.5em!important;
                display: block;
            }
        }

        .about-title-after::after {
            content: "";
            display: block;
            width: 1px;
            height: 150px;
            margin: 0px auto;
            margin-top: 15px;
            background-color: rgb(202, 202, 202);
        }

        .about-para {
            letter-spacing: 0.05em;
            h1 {
                font-size: 0.9em;
                margin-bottom: 20px;
            }

            p {
                line-height: 1.6em;
                font-size: 1em;
            }
        }

        #box1 {
            grid-row: 3/4;    
            grid-column: 1 / 2;
        }

        #box2 {
            grid-row: 5/6;
            grid-column: 5/6;
        }

        #box3 {
            grid-row: 7/8;
            grid-column: 1/2;
        }
    }
}