nav {
    position: fixed;
    top: 10%;
    right: 5%;
    display: inline-flex;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    ul {
        margin-top: 0;
        li {
            margin-bottom: 10px;
            a {
                letter-spacing: 2px;
            }
        }
    }
}

#logo {
    position: fixed;
    top: 10%;
    left: 5%;
    width: 2%;
}